@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700&family=Raleway:wght@300;400;500;600;700&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;



@layer base {
  :root {
    --font-serif: 'Playfair Display', serif;
    --font-sans: 'Raleway', sans-serif;
  }

  

  html {
    scroll-behavior: smooth;
    font-family: var(--font-sans);
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-serif);
  }
}

@layer components {
  .prose p {
    @apply mb-4;
  }
  
  .prose ul {
    @apply mb-4 list-disc pl-5;
  }

  .prose li {
    @apply mb-1;
  }
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 0px; /* Hide vertical scrollbar */
  height: 0px; /* Hide horizontal scrollbar */
  background: transparent; /* Make the scrollbar track transparent */
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
